header.header-layout
	a.logo(href='/')
		img.logo__img(src='img/logo.png', alt='Логотип')
	div.slogan Новые технологии 21 века
	menu.user-block
		a.user-block__href(href='#') Личный кабинет
		a.user-block__href(href='#') Конференция
		a.user-block__href(href='#') Планерка
	nav.main-menu
		li.main-menu__item
			a.main-menu__href(href='/') Компания
		li.main-menu__item
			a.main-menu__href(href='products.html') Продукция/Магазин
		li.main-menu__item
			a.main-menu__href(href='#') Партнерская программа
		li.main-menu__item
			a.main-menu__href(href='#') Партнерам
		li.main-menu__item
			a.main-menu__href(href='#') Фото/Видео