@import 'nib'

/*===== CSS Reset =====start*/
global-reset()
nested-reset()
reset-font()
reset-box-model()
reset-body()
reset-table()
reset-table-cell()
reset-html5()
/*===== CSS Reset =====end*/

/*==== Common =====start*/
.container
	width 50%
	margin 0 auto
	background url(../img/indicator.gif) no-repeat center
	min-height 100px
/*==== Common =====end*/