@import 'nib'

/*===== CSS Reset =====start*/
global-reset()
nested-reset()
reset-font()
reset-box-model()
reset-body()
reset-table()
reset-table-cell()
reset-html5()
/*===== CSS Reset =====end*/