include partials/head
body
	.wrapper-layout
		include partials/header

		section.content
			section.about__info.-about
					h1.title О компании
					img(src='img/about/2.jpg', alt='Фото из редактора')
					h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					p lam mollis sit amet velit vitae gravida. Integer fermentum tellus in ligula sagittis gravida.<br><br>Pellentesque non mauris quis magna porttitor sollicitudin. Mauris sit amet est in turpis aliquam vestibulum in ac ligula. Pellentesque non nibh aliquet, congue est id, molestie nibh. Mauris facilisis, augue vel porttitor ullamcorper, enim libero fringilla nisl, vitae mattis nisl diam quis felis.<br><br>Ut quis fringilla ante. Class aptent taciti sociosqu. Donec a erat accumsan eros facilisis semper non convallis odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vehicula urna purus, ac ornare sem consectetur et. Vestibulum tellus risus, facilisis non metus sed, sodales placerat ipsum.<br><br>Proin et augue ultrices, molestie ligula et, sollicitudin quam. Cras sodales malesuada scelerisque. Duis vulputate felis sed tortor faucibus, vel interdum ante egestas. Aliquam sollicitudin velit sed porttitor semper. Aenean tincidunt, lorem a pellentesque ultrices, velit nulla molestie dolor, a commodo velit<br><br>Proin et augue ultrices, molestie ligula et, sollicitudin quam. Cras sodales malesuada scelerisque. Duis vulputate felis sed tortor faucibus, vel interdum ante egestas. Aliquam sollicitudin velit sed porttitor semper. Aenean tincidunt, lorem a pellentesque ultrices, velit nulla molestie dolor, a commodo velit Proin et augue ultrices, molestie ligula et, sollicitudin quam. Cras sodales malesuada scelerisque. Duis vulputate felis sed tortor faucibus, vel interdum ante egestas. Aliquam sollicitudin velit sed porttitor semper. Aenean tincidunt, lorem a pellentesque ultrices, velit nulla molestie dolor, a commodo velit<br><br>Proin et augue ultrices, molestie ligula et, sollicitudin quam. Cras sodales malesuada scelerisque. Duis vulputate felis sed tortor faucibus, vel interdum ante egestas. Aliquam sollicitudin velit sed porttitor semper. Aenean tincidunt, lorem a pellentesque ultrices, velit nulla molestie dolor, a commodo velit Proin et augue ultrices, molestie ligula et, sollicitudin quam. Cras sodales malesuada scelerisque. Duis vulputate felis sed tortor faucibus, vel interdum ante egestas. Aliquam sollicitudin velit sed porttitor semper. Aenean tincidunt, lorem a pellentesque ultrices, velit nulla molestie dolor, a commodo velit Proin et augue ultrices, molestie ligula et, sollicitudin quam. Cras sodales malesuada scelerisque. Duis vulputate felis sed tortor faucibus, vel interdum ante egestas. Aliquam sollicitudin velit sed porttitor semper. Aenean tincidunt, lorem a pellentesque ultrices, velit nulla molestie dolor, a commodo velit Proin et augue ultrices, molestie ligula et, sollicitudin quam. Cras sodales malesuada scelerisque. Duis vulputate felis sed tortor faucibus, vel interdum ante egestas. Aliquam sollicitudin velit sed porttitor semper. Aenean tincidunt, lorem a pellentesque ultrices, velit nulla molestie dolor, a commodo velit
	footer.footer-layout
		.copyright
			a.copyright__logo(href='/'): img(src='img/logo-litle.png')
			p.copyright__text Название компании © 2013г.
		.contacts
			h1.contacts__title Контакты:
			p.contacts__data Тел.: +7 (495) 645-6405,<br>645-6502<br>Факс: +7 (495) 637-2746<br>E-mail: sales@rian.ru
		.socials
			h1.socials__title Мы в социальных сетях:
			a(href='#'): img(src='img/fb.png')
			a(href='#'): img(src='img/tw.png')
			a(href='#'): img(src='img/vk.png')
			a(href='#'): img(src='img/soc.png')
			a(href='#'): img(src='img/ok.png')
		menu.menu
			li: a.menu__item(href='#') О компании
			li: a.menu__item(href='#') Миссия
			li: a.menu__item(href='#') Продукция
			li: a.menu__item(href='#') Интернет магазин
			li: a.menu__item(href='#') Доставка
			li: a.menu__item(href='#') Оплата
	include partials/scripts